<div class="main_top_banner ez-align-left" data-ez-module="top-banner" data-ez-align="left" data-ez-role="style.color" data-ez-display="hidden" data-ez="contents-0pe4w36-1" style="display: none;">
  <div class="top_banner_box_inner">
    <div class="top_banner_text">
      <!-- 최상단 배너 수정하는곳 -->
      <a data-ez-role="a" href="#" data-href="#" target="_self" style="color: black; font-weight: normal;">첫 쇼핑을 지원하는 3,000원 할인 회원가입 쿠폰</a>
    </div>
    <!-- //top_banner_text -->

    <div class="top_banner_close" data-ez-role="close">
      <input type="checkbox" name="chkbox" id="top_banner_box_cloase" value="1" data-ez-role="disable-term"><label for="top_banner_box_cloase" data-ez-role="disable-text">오늘 하루 보지 않기</label>
      <i aria-hidden="true" class="icon icoClose">닫기</i>
    </div>
    <!-- //top_banner_close -->
  </div>
  <!-- //top_banner_box_inner -->
</div>
<header id="header" class="layout1" data-ez-layout="layout1" data-ez="contents-073q35c-1">
  <ez-prop data-version="1.0.0" type="layout">
    <ez-var data-prop="layout" data-namespace="ez.layout.header.layout" data-type="array">
      <ez-item data-id="layout3" data-name="1단 기본형"></ez-item>
      <ez-item data-id="layout2" data-name="2단 좌측형"></ez-item>
      <ez-item data-id="layout4" data-name="2단 혼합형"></ez-item>
      <ez-item data-id="layout1" data-name="2단 중앙형 (아이콘 하단)"></ez-item>
      <ez-item data-id="layout5" data-name="2단 중앙형 (아이콘 상단)"></ez-item>
    </ez-var>
  </ez-prop>
  <div class="inner">
    <div class="toparea display_pc_only">
      <div class="toparea_shoppinginfo">
        <div module="Layout_multishopList">
          <button type="button" class="toggle">
            {$current_language} <i aria-hidden="true" class="icon icoArrowBottom"></i>
          </button>
          <ul module="Layout_multishopListitem">
            <li class="{$selected_class}">
              <a href="//{$shop_domain}/">{$locale_language}</a>
            </li>
            <li class="{$selected_class}">
              <a href="//{$shop_domain}/">{$locale_language}</a>
            </li>
          </ul>
        </div>
        <div data-ez-group="shopping-info" data-ez-role="list">
          <ul module="Layout_shoppingInfo">
            <li class="{$use_mileage|display}">
              <a href="/myshop/mileage/historyList.html">{$mileage_name} <strong>{$mileage}</strong></a>
            </li>
            <li class="{$use_deposit|display}">
              <a href="/myshop/deposits/historyList.html">{$deposit_name} <strong>{$deposit}</strong></a>
            </li>
            <li class="{$use_coupon_cnt|display}">
              <a href="/myshop/coupon/coupon.html">쿠폰 <strong>{$coupon_cnt}</strong></a>
            </li>
            <li class="{$use_interest_prd|display}">
              <a href="/myshop/wish_list.html">관심상품 <strong>{$interest_prd_cnt}</strong></a>
            </li>
            <li class="{$use_like_product_cnt|display}">{$like_prd_tag}</li>
            <li class="{$use_basket_cnt|display}">
              <a href="/order/basket.html">장바구니
                <strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- //toparea_shoppinginfo -->

      <div class="toparea_state" data-ez-group="top-util-menu" data-ez-role="list">
        <a data-ez-item="join" module="Layout_statelogoff" href="/member/agreement.html">회원가입</a>
        <a data-ez-item="login" module="Layout_statelogoff" href="/member/login.html">로그인</a>
        <a data-ez-item="modify" module="Layout_stateLogon" href="/member/modify.html">내정보수정</a>
        <a data-ez-item="logout" module="Layout_stateLogon" href="{$action_logout}">로그아웃</a>
        <a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
        <a data-ez-item="mypage" module="Layout_stateLogon" href="/myshop/index.html">마이페이지</a>
        <a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
        <div class="toparea_state_board">
          <a data-ez-item="board" href="#none">고객센터 <i aria-hidden="true" class="icon icoArrowBottom"></i></a>
          <ul module="Layout_BoardInfo">
            <li><a href="{$link_board_list}">{$board_name}</a></li>
            <li><a href="{$link_board_list}">{$board_name}</a></li>
          </ul>
        </div>
      </div>
      <!-- //toparea_state -->
    </div>
    <!-- //toparea -->

    <div class="top_nav_box" id="top_nav_box">
      <div class="top_logo" module="Layout_LogoTop">
        <a href="/"><img src="{$logo}" alt="{$mall_name}"></a>
      </div>
      <!-- //top_logo -->
      <div class="top_nav">
        <a href="javascript:;" class="eNavFold"><i aria-hidden="true" class="icon icoNav"></i></a>
      </div>

      <div data-ez-module="menu-main/1" data-ez-mode="manual">
        <div class="xans-element- xans-layout xans-layout-category top_category">
          <ul>
            <li><a href="/category/%EC%9C%A0%EC%A0%9C%ED%92%88/43/">유제품</a></li>
            <li>
              <a href="/category/%ED%96%84-%E2%88%99-%EC%86%8C%EC%8B%9C%EC%A7%80-%E2%88%99-%EC%9C%A1%ED%8F%AC/42/">햄 ∙ 소시지 ∙ 육포</a>
            </li>
            <li>
              <a href="/category/%EB%B0%9C%ED%9A%A8%EB%A9%B4-%E2%88%99-%EB%B0%9C%ED%9A%A8%EB%B9%B5-%E2%88%99-%EA%B3%81%EB%93%A4%EC%9E%84/44/">발효면 ∙ 발효빵 ∙ 곁들임</a>
            </li>
            <li>
              <a href="/category/%EA%B1%B4%EA%B0%95%EC%9D%8C%EB%A3%8C-%E2%88%99-%EB%B9%99%EA%B3%BC/45/">건강음료 ∙ 빙과</a>
            </li>
            <li><a href="/category/%EC%A0%9C%EA%B3%BC%EB%A5%98/46/">제과류</a></li>
            <li><a href="/category/%EA%B8%B0%ED%83%80/56/">기타</a></li>
          </ul>
        </div>
      </div>
      <!-- //menu-main/1 -->

      <div class="top_mypage">
        <a href="javascript:;" class="eSearch"><!--@import(/svg/icon-search.html)--></a>
        <a href="/myshop/index.html" class="myshop"><!--@import(/svg/icon-user.html)--></a>
        <a href="/order/basket.html" class="basket" module="Layout_orderBasketcount"><!--@import(/svg/icon-cart.html)--><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
      </div>
      <!-- //top_mypage -->
    </div>
    <!-- //top_nav_box -->
  </div>
  <!-- //inner -->
</header>
<!--#ez="1/4"-->