<!--@js(/calendar/app/js/jquery.min.js)-->
<!--@js(/calendar/app/js/moment/moment.js)-->
<!--@js(/calendar/app/js/moment/moment-with-locales.js")-->
<!--@js(/calendar/app/js/fullcalendar/index.global.min.js)-->
<!--@js(/calendar/app/js/fullcalendar/locales-all.global.min.js)-->
<!--@js(/calendar/app/js/calendar.js)-->
<!--@js(/calendar/app/js/start.js)-->
<!--@js(/calendar/app/js/init.js)-->
<!--@import(/calendar/app/template/pc.html)-->
<!--@import(/calendar/app/template/mo.html)-->
<!--#ez="1/1"-->