/** 오우이_style 210903 **/
@charset "utf-8";

html { -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }
#wrap { position:relative;width:100%;margin:0 auto;min-height:550px;overflow:hidden;}
body {min-width:100%;padding:0;margin:0;max-width:1760px;}
#container {width:100%;zoom:1;position:relative;margin:0 auto;}
#container #contents {margin:0 auto;float:none;padding:0;}
.cboth {clear:both;*zoom:1}
.cboth:after {content:" ";display:block;clear:both;}
audio, canvas, img, svg, video {max-width:100%;height:auto;box-sizing:border-box;}
button {border:0;outline:none;}
img { -webkit-perspective: 1; }
input, select, textarea, body, code, button {font-family:"Montserrat", "Noto Sans KR", Arial, sans-serif !important;}
a:hover {text-decoration:none;}
.display_mobile_only {display:none;}
.display_tablet_only {display:none;}
.display_pc_only {display:block;}
.layer_shadow {position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,0.3);z-index:10;opacity:0;visibility:hidden;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
.layer_shadow.on {opacity:1;visibility:visible;}

/* 최상단 배너 */
.main_top_banner {position:relative;z-index:997;background-color:#f5f5f5;overflow:hidden;width:100%;display:none;padding:20px 0;}
.main_top_banner .top_banner_box_inner {max-width:1760px;width:92%;height:100%;margin:0 auto;display:flex;justify-content:space-between;align-items:center;position:relative;}
.main_top_banner .top_banner_box_inner .top_banner_text {flex:1;}
.main_top_banner.ez-align-left .top_banner_box_inner .top_banner_text {text-align:left;}
.main_top_banner.ez-align-center .top_banner_box_inner .top_banner_text {text-align:center;}
.main_top_banner.ez-align-right .top_banner_box_inner .top_banner_text {text-align:right;}
.main_top_banner.ez-align-center .top_banner_box_inner .top_banner_close {position:absolute;top:0;right:0;bottom:0;}
.main_top_banner .top_banner_box_inner .top_banner_text a {font-size:15px;font-weight:300;color:#3a3a3a;line-height:1.6;}
.main_top_banner .top_banner_box_inner .top_banner_close {font-size:12px;font-weight:300;color:#3a3a3a;line-height:1;display:flex;align-items:center;margin-left:30px;}
.main_top_banner .top_banner_box_inner .top_banner_close input[type="checkbox"] {width:15px;height:15px;background-size:15px;}
.main_top_banner .top_banner_box_inner .top_banner_close label {margin-left:5px;cursor:pointer;}
.main_top_banner .top_banner_box_inner .top_banner_close .icon {cursor:pointer;}

/* 상단 */
#header {width:100%;margin:0 auto;padding:0;background:#fff;position:relative;z-index:998;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-bottom:1px solid #e8e8e8;}
#header .inner {max-width:1760px;width:92%;margin:0 auto;padding:0;display:flex;align-items:center;flex-direction:column;}
#header .inner .toparea {width:100%;height:50px;margin-top:10px;display:flex;justify-content:space-between;align-items:center;transform: translateY(0);position:relative;z-index:11;}
#header .inner .toparea .toparea_shoppinginfo {display:flex;align-items:center;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist {position:relative;z-index:10;height:50px;margin-right:30px;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist .toggle {display:flex;align-items:center;height:50px;padding:0;color:#666;line-height:1;font-size:13px;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist .toggle .icon {border-color:#666;width:5px;height:5px;margin-left:10px;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul {visibility:hidden;height:0;padding:0 10px;border:1px solid #999;background:#fff;margin-top:-5px;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul li {position:relative; margin:9px 0; }
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist > ul li a {display:block; overflow:hidden; font-size:12px; white-space:nowrap; text-decoration:none; text-overflow:ellipsis; }
#header .inner .toparea .toparea_shoppinginfo .xans-layout-multishoplist.show > ul {visibility:visible;height:auto;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo {display:flex;flex-shrink:0;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li {margin:0 10px 0 0;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a {color:#6a6a6a;font-size:12px;font-weight:400;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li,
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li strong {color:#6a6a6a;font-size:12px;font-weight:400;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a strong {color:#6a6a6a;font-size:12px;font-weight:400;}
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a:hover,
#header .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li a:hover strong {color:#000;}
#header .inner .toparea .toparea_state {display:flex;}
#header .inner .toparea .toparea_state a {font-size:12px;line-height:1;color:#6a6a6a;display:flex;align-items:center;margin:0 0 0 9px;padding:0 0 0 10px;background:url("//img.echosting.cafe24.com/skin/base/common/ico_bar.gif") no-repeat 0 center;}
#header .inner .toparea .toparea_state a:first-child {background:none;}
#header .inner .toparea .toparea_state a:hover {color:#000;}
#header .inner .toparea .toparea_state .toparea_state_board {position:relative;}
#header .inner .toparea .toparea_state .toparea_state_board > a {display:flex;align-items:center;background:url("//img.echosting.cafe24.com/skin/base/common/ico_bar.gif") no-repeat 0 center;}
#header .inner .toparea .toparea_state .toparea_state_board > a .icon {width:5px;height:5px;margin-left:10px;margin-top:-4px;}
#header .inner .toparea .toparea_state .toparea_state_board > ul {display:none;position:absolute;top:25px;right:-10px;z-index:1;padding:5px 10px;border:1px solid #999;background:#fff;}
#header .inner .toparea .toparea_state .toparea_state_board.on > ul {display:block;}
#header .inner .toparea .toparea_state .toparea_state_board > ul li {position:relative;padding:7px 0;}
#header .inner .toparea .toparea_state .toparea_state_board > ul li a {display:block;overflow:hidden;font-size:12px;line-height:1;color:#666;white-space:nowrap; text-decoration:none; text-overflow:ellipsis;padding:0;margin:0; }
#header .inner .toparea .toparea_state .toparea_state_board > ul li a:hover {color:#000;}

/* 상단 메뉴 */
#header .inner .top_nav_box {width:100%;display:flex;align-items:center;flex-wrap:wrap;background-color:#fff;position:relative;}
#header .inner .top_nav_box .top_logo {margin:0 auto;height:70px;display:flex;justify-content:center;align-items:center;flex-basis:100%;flex-shrink:0;}
#header .inner .top_nav_box .top_logo img {max-width:400px;max-height:60px;}
#header .inner .top_nav_box .top_logo a {display:flex;justify-content:center;align-items:center;font-size:40px;line-height:1;}
#header .inner .top_nav_box .top_nav {display:none;flex-shrink:0;position:absolute;top:70px;left:0;}
#header .inner .top_nav_box .top_nav .eNavFold {width:25px;height:80px;display:flex;align-items:center;}
#header .inner .top_nav_box .top_nav .eNavFold .icon.icoNav {width:25px;box-shadow:0 18px 0;margin:-18px auto 0;}
#header .inner .top_nav_box .top_nav .eNavFold .icon.icoNav:before {width:25px;top:9px;}
#header .inner .top_nav_box div[data-ez-module='menu-main/1'] {width:100%;}
#header .inner .top_nav_box .top_category {margin:0 130px;position:relative;}
#header .inner .top_nav_box .top_category > ul {display:flex;align-items:center;justify-content:center;flex-wrap:wrap;}
#header .inner .top_nav_box .top_category > ul > li {height:80px;display:flex;align-items:center;padding:0 25px;position:relative;}
#header .inner .top_nav_box .top_category > ul > li > a {font-size:14px;font-weight:500;display:block;line-height:78px;color:#3a3a3a;white-space:nowrap;}
#header .inner .top_nav_box .top_category > ul > li > a:after {content: "";position:relative;display: block;bottom:0px;width: 100%; height:2px; background-color:#cfcfcf;-webkit-transform: scaleX(0); -ms-transform: scaleX(0); transform: scaleX(0);-webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0;-webkit-transition: -webkit-transform .3s cubic-bezier(.45,.46,.05,.96);-o-transition: transform .3s cubic-bezier(.45,.46,.05,.96);transition: transform .3s cubic-bezier(.45,.46,.05,.96);transition: transform .3s cubic-bezier(.45,.46,.05,.96),-webkit-transform .3s cubic-bezier(.45,.46,.05,.96);}
#header .inner .top_nav_box .top_category > ul > li:hover > a:after {-webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1);-webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0;-webkit-transition: -webkit-transform .5s cubic-bezier(.45,.46,.05,.96);-o-transition: transform .5s cubic-bezier(.45,.46,.05,.96);transition: transform .5s cubic-bezier(.45,.46,.05,.96);transition: transform .5s cubic-bezier(.45,.46,.05,.96),-webkit-transform .5s cubic-bezier(.45,.46,.05,.96);}
#header .inner .top_nav_box .top_category .sub_cate01 {position:absolute;top:80px;left:0;z-index:10;margin:0;width:auto;min-width:120px;padding:10px 0;background-color:#fff;border:1px solid #e8e8e8;display:none;}
#header .inner .top_nav_box .top_category li.on .sub_cate01 {display:block;}
#header .inner .top_nav_box .top_category .sub-category {position:absolute;top:80px;left:0;z-index:10;margin:0;width:auto;min-width:120px;padding:10px 0;background-color:#fff;border:1px solid #e8e8e8;}
#header .inner .top_nav_box .top_category .sub_cate01 ul,
#header .inner .top_nav_box .top_category .sub-category ul {display:none;position:absolute;top:-11px;left:100%;z-index:11;margin:0;width:auto;min-width:120px;padding:10px 0;background-color:#fff;border:1px solid #e8e8e8;}
#header .inner .top_nav_box .top_category .sub_cate01 li.on > ul,
#header .inner .top_nav_box .top_category .sub-category li.on > ul {display:block;}
#header .inner .top_nav_box .top_category .sub_cate01 li,
#header .inner .top_nav_box .top_category .sub-category li {position:relative;padding:0 10px 0 10px;}
#header .inner .top_nav_box .top_category .sub_cate01 li:after,
#header .inner .top_nav_box .top_category .sub-category li:after {content:"";position:absolute;top:50%;right:15px;margin-top:-3px;background:url('/SkinImg/img/arrow.png') no-repeat;z-index:10;width:4px;height:7px;}
#header .inner .top_nav_box .top_category .sub_cate01 li.noChild:after,
#header .inner .top_nav_box .top_category .sub-category li.noChild:after {display:none;}
#header .inner .top_nav_box .top_category .sub_cate01 li a,
#header .inner .top_nav_box .top_category .sub-category li a {font-size:14px;color:#9a9a9a;line-height:1;font-weight:400;display:block;padding:10px 20px 10px 10px;white-space:nowrap;text-align:center;}
#header .inner .top_nav_box .top_category .sub_cate01 li:hover > a,
#header .inner .top_nav_box .top_category .sub-category li:hover > a {background-color:#fff;color:#000;}
#header .inner .top_nav_box .top_mypage {display:flex;flex-shrink:0;position:absolute;top:70px;right:0;height:80px;}
#header .inner .top_nav_box .top_mypage a {line-height:1;color:#1a1a1a;margin-left:26px;padding:0;border:0;display:flex;align-items:center;}
#header .inner .top_nav_box .top_mypage a:first-child {margin-left:0;}
#header .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount .count {position:absolute;top:40px;right:-10px;width:18px;height:18px;border-radius:50%;background-color:#000;color:#fff;text-align:center;line-height:1;font-size:12px;display:flex;align-items:center;justify-content:center;margin-left:5px;}
#header.fixed {position:fixed;top:0;left:0;right:0;z-index:998;margin:0 auto;border-bottom:1px solid #e8e8e8 !important;-webkist-transform:translateY(-60px);-ms-transform:translateY(-60px);transform:translateY(-60px);}

/* 카테고리가 대량일때 //주석 22.06.17
#header .inner .top_nav_box .top_category > ul > li {display:none;}
#header .inner .top_nav_box .top_category .cate_more {position:absolute;bottom:20px;right:20px;background:url('/SkinImg/img/cate_more_on.png') no-repeat;width:25px;height:29px;cursor:pointer;opacity:0.3;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#header .inner .top_nav_box .top_category .cate_more:hover {opacity:0.8;}
#header .inner .top_nav_box .top_category .cate_more.on {background:url('/SkinImg/img/cate_more_off.png') no-repeat;}
*/

@media all and (max-width:1780px) {
	#header .inner .top_nav_box .top_category > ul > li {height:50px;}
	#header .inner .top_nav_box .top_category > ul > li > a {line-height:48px;}
	#header .inner .top_nav_box .top_mypage {height:50px;}
	#header .inner .top_nav_box .top_category .sub_cate01,
	#header .inner .top_nav_box .top_category .sub-category {top:50px;}
	#header .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount .count {top:25px;}
}

/* 상단검색 레이어 */
.xans-layout-searchheader { z-index:1001; position:fixed; left:0; right:0; top:0; background:#fff; opacity:0; visibility:hidden;transform: translate3d(0,-100%,0);transition: opacity .5s ease,transform .5s ease,visibility 0s linear .5s;height:389px;}
.searchExpand .xans-layout-searchheader { opacity: 1; visibility: visible; transition: opacity .5s ease,transform .5s ease,visibility 0s linear 0s; transform: translateZ(0); }
.searchExpand .dimmed { display:block; }
.xans-layout-searchheader .title {font-weight:700;color:#3a3a3a;margin:103px 0 54px; display:block; font-size:30px; text-align:center;}
.xans-layout-searchheader .btnSearch { background:none; overflow:hidden; white-space:nowrap; text-indent:150%; font-size:1px; color:transparent; line-height:1px;width:28px; height:28px; margin:15px 0 0;}
.xans-layout-searchheader .btnSearch .icon { width:28px; height:28px; }
.xans-layout-searchheader .btnClose { position:absolute;top:35px; right:50px;overflow:hidden; white-space:nowrap; text-indent:150%; font-size:1px; color:transparent; line-height:1px; }
.xans-layout-searchheader fieldset { display:flex; width:650px; margin:0 auto; border-bottom:1px solid #000; }
.xans-layout-searchheader #keyword  { width:100%; height:54px; padding:15px 0; flex:1; font-size:18px; box-sizing:border-box; border:0; background:#fff; }
.xans-layout-searchheader .icon.icoClose { width: 35px; height: 35px;}
.xans-layout-searchheader .icon.icoClose:before { right: 17px; height: 35px; }
.xans-layout-searchheader .icon.icoClose:after { top: 17px; width: 35px; }
.xans-layout-searchheader fieldset .autoDrop { display:none; border:1px solid #565960; position:absolute; width: 187px; text-align:left; background:#fff; z-index:20; overflow:hidden; overflow-y:auto; max-height:100px;}
.xans-layout-searchheader fieldset .autoDrop li a { display:block; padding:6px 10px; font-size:11px; color:#1c1c1c; font-family:GulimChe,Gulim; }
.xans-layout-searchheader fieldset .autoDrop li a:hover,
.xans-layout-searchheader fieldset .autoDrop li.selected a { text-decoration:none; color:#fff; background:#a1a4ae; }
.xans-layout-searchheader .hot_keyword {display:flex;justify-content:center;margin:30px auto 0;}
.xans-layout-searchheader .hot_keyword li {margin:0 10px;}
.xans-layout-searchheader .hot_keyword li a {display:block;font-size:14px;color:#8a8a8a;box-sizing:border-box;line-height:1;border:1px solid #f4f4f4;background-color:#fff;padding:13px 14px 11px 14px;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;white-space:nowrap;border-radius:40px;}
.xans-layout-searchheader .hot_keyword li a:hover {color:#1a1a1a;border:1px solid #1a1a1a;background-color:#fff;}
.xans-layout-searchheader fieldset .btnDelete {display:none;cursor:pointer;font-size:0;width:20px;height:58px;background: url('//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png') no-repeat 0 center;background-size:20px;}

/* 하단 */
.footer_margin {margin-top:100px;}
#footer {width:100%;margin:0 auto;padding:0;background:#f5f5f5;overflow:hidden;}
#footer .inner {max-width:1760px;width:92%;margin:0 auto;padding:100px 0 70px;color:#1a1a1a;display:flex;flex-direction:column;}
#footer .inner .pdr10 {padding-right:10px;}

/* 하단 로고 */
#footer .inner .bt_logo {margin-bottom:50px;font-size:40px;display:flex;}
#footer .inner .bt_logo a {display:flex;justify-content:flex-start;align-items:center;}
#footer .inner .bt_logo img {max-width:400px;max-height:60px;}
#footer .inner .bt_wrap {display:flex;justify-content:space-between;margin-bottom:50px;}

/* 하단 메뉴 */
#footer .inner .bt_util {margin-bottom:-16px;position:relative;z-index:2;}
#footer .inner .bt_util ul {display:flex;}
#footer .inner .bt_util ul li {margin:0 0 0 9px;padding:0 0 0 10px;}
#footer .inner .bt_util ul li:first-child {background:none;padding:0;margin:0;}
#footer .inner .bt_util ul li a {display:block;font-size:14px;font-weight:400;color:#1a1a1a;line-height:1;white-space:nowrap;}
#footer .inner .bt_util ul li a strong {font-weight:500;color:#1a1a1a;}

/* 하단 전화번호 */
#footer .inner .bt_cscenter {margin-left:auto;}
#footer .inner .bt_cscenter .title {font-size:14px;font-weight:700;color:#1a1a1a;margin-bottom:10px;line-height:2;}
#footer .inner .bt_cscenter .bt_txt01 {font-size:12px;font-weight:400;color:#1a1a1a;margin-bottom:10px;line-height:2;}
#footer .inner .bt_cscenter .bt_txt02 {font-size:12px;font-weight:400;color:#3a3a3a;margin-bottom:10px;line-height:2;}
#footer .inner .bt_cscenter .bt_txt02 > strong {font-weight:600;display:block;}
#footer .inner .bt_cscenter .bt_txt01 > strong {font-weight:600;}

/* 하단 계좌번호 */
#footer .inner .bt_bank {margin-left:90px;}
#footer .inner .bt_bank .title {font-size:14px;font-weight:700;color:#1a1a1a;margin-bottom:10px;line-height:2;}
#footer .inner .bt_bank .title_sub {font-size:12px;font-weight:400;color:#3a3a3a;line-height:2;}
#footer .inner .bt_bank .title_sub > strong {font-weight:600;}
#footer .inner .bt_bank .bt_txt02 {font-size:12px;font-weight:400;color:#3a3a3a;line-height:2;}

/* 하단 에스크로 */
#footer .inner .bt_escrow {font-size:0;align-items:center;margin-bottom:50px;}
#footer .inner .bt_escrow a {font-size:0;display:flex;align-items:center;}
#footer .inner .bt_escrow a span {width:350px;font-size:12px;font-weight:300;color:#a8a8a8;line-height:1.6;word-break:keep-all;}
#footer .inner .bt_escrow a img {margin-right:10px;display:none;}
#footer .inner .bt_escrow a img.on {display:block;}

/* 하단 쇼핑몰정보 */
#footer .inner .bt_info {margin-top:50px;}
#footer .inner .bt_info .title {font-size:14px;font-weight:700;color:#1a1a1a;line-height:2;margin-bottom:10px;}
#footer .inner .bt_info .bt_info_list {display:flex;flex-wrap:wrap;justify-content:flex-start;max-width:500px;font-size:12px;font-weight:400;color:#1a1a1a;line-height:2;}
#footer .inner .bt_info .bt_info_list a {font-size:12px;font-weight:400;color:#1a1a1a;line-height:2;}
#footer .inner .bt_info .bt_info_list > div {margin:0 10px 0 0;}
#footer .inner .bt_info .bt_info_list > div span:first-child {font-weight:600;}

/* 하단 카피라이트 */
#footer .inner .bt_wrap2 {padding-top:50px;border-top:1px solid #dadada;display:flex;justify-content:space-between;}
#footer .inner .bt_wrap2 .bt_copyright {font-size:12px;font-weight:400;color:#a8a8a8;line-height:1.6;}

/* 하단 sns */
#footer .inner .bt_wrap2 .bt_sns {display:flex;align-items: center;}
#footer .inner .bt_wrap2 .bt_sns .title {font-size:14px;font-weight:700;color:#1a1a1a;}
#footer .inner .bt_wrap2 .bt_sns a {margin-left:10px;font-size:0;display:block;padding:0 10px;}
#footer .inner .bt_wrap2 .bt_sns a:last-child {padding-right:0;}
#footer .inner .bt_wrap2 .bt_sns a svg {height:20px;}
#footer .inner .bt_wrap2 .bt_sns a svg path {fill:#ababab;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#footer .inner .bt_wrap2 .bt_sns a:hover svg path {fill:#111;}

/* 상품 더보기 */
.main_image_text_gallery_more,
.more {text-align:center;margin:0 auto;position:relative;width:100%;}
.main_image_text_gallery_more .main_image_text_gallery_more_btn,
.more .btnMore {background-color:#fff;display:inline-block;min-width:auto;font-weight:500;padding:21px 75px 22px;border:1px solid #999999;text-align:center;transition:all 400ms;font-size:16px;color:#1a1a1a;}
.more .btnMore > div {display:inline-block;}
.main_image_text_gallery_more .main_image_text_gallery_more_btn:hover,
.more .btnMore:hover {color:#000;background-color:#fff;border:1px solid #000;}

@media all and (max-width:1680px) {
	/* 최상단 배너 */
	.main_top_banner .top_banner_box_inner .top_banner_text a {font-size:calc(13px + (15 - 13) * ((100vw - 370px) / (1680 - 370)));}
}

@media all and (max-width:1300px) {
	/* 상단 메뉴 */
	#header .inner .top_nav_box .top_category > ul > li {padding: 0 15px;}
}


/********************* Tablet *********************/
@media all and (max-width:1024px) {
    /* responsive class */
	.RW { display:none !important; }
    .RTMB { display:block !important; }
    .RTMI { display:inline-block !important; }
    #capp-shop-new-product-optionselect-layer { position:fixed !important; top:0 !important; right:0 !important; left:auto !important; width:100% !important; height:100% !important; margin:0 !important; }
    .bottom-nav { z-index:901; position:fixed; bottom:0; width:100%; height:52px; -webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);-webkit-transition: -webkit-transform .3s linear,padding-bottom .3s linear;transition: transform .3s linear,padding-bottom .3s linear; }
    .bottom-nav--hide { -webkit-transform: translate3d(0,60px,0); transform: translate3d(0,60px,0); }
    .bottom-nav__tabBar { display:flex;justify-content: space-between; height:52px; padding:14px 26px 0; box-sizing:border-box; background:#fff; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); -webkit-transition: -webkit-transform .3s linear,padding-bottom .3s linear; transition: transform .3s linear,padding-bottom .3s linear; }
    .bottom-nav__tabBar li a,
    .bottom-nav__tabBar li button {position:relative; display:block; white-space:nowrap; width:24px; height:24px; font-size:1px; line-height:1px; color:transparent; text-indent:150%; vertical-align:top; background:none;}
    .bottom-nav__tabBar li button:focus { outline:0; }
    .bottom-nav__tabBar .count { display:block; position:absolute; top:12px; right:-5px; width:16px; height:16px; font-size:11px; color:#fff; text-align:center; text-indent:0; line-height:15px; border-radius:50%; background:#000; }
	.bottom-nav__top { opacity:0; visibility:hidden; position:absolute;top: -72px; right:16px;padding:0;box-sizing:border-box; text-align:center; text-transform: uppercase; transition:.5s; }
    .bottom-nav__top a { display:block;background-color:#fff;border:1px solid #dadada;box-sizing:border-box;border-radius:50%;width:40px;height:40px;display:flex;justify-content:center;align-items:center;margin-top:5px;}
    .bottom-nav__top a.quick_search svg {width:20px;}
    .bottom-nav__top--show { opacity:1; visibility:visible; }
    .bottom-nav__top span { display:block; margin:4px 0 0; }
    .button--fixed .bottom-nav__tabBar { display:none; }
	.button--fixed #header.fixed .navigation { position:absolute; top:0; left:0; right:0; background:#fff; }
    .xans-layout-mobileaction { position:absolute; top:45px; left:16px; }
    .xans-layout-mobileaction a { overflow:hidden; display:block; text-indent:-150%; color:transparent; font-size:1px; line-height:1px; white-space:nowrap; }

	.display_tablet_only {display:block !important;}
	.display_mobile_only {display:none !important;}
	.display_pc_only {display:none !important;}
	#container #contents {width:92%;margin:0 auto;}

	/* 최상단 배너 */
	.main_top_banner {padding:10px 0;}
	.main_top_banner.close_none {height:50px;}
	.main_top_banner .top_banner_box_inner {height:100%;flex-wrap:wrap;justify-content:flex-end;}
	.main_top_banner .top_banner_box_inner .top_banner_text {width:100%;flex:none;}
	.main_top_banner .top_banner_box_inner .top_banner_close {padding-top:16px;}
	.main_top_banner.ez-align-center .top_banner_box_inner .top_banner_close {position:static;}

	/* 상단 메뉴 */
	#header .inner .top_nav_box {height:65px;display:flex;align-items:center;justify-content:space-between;}
	#header .inner .top_nav_box .top_logo {display:flex;align-items:center;margin:0;height:auto;flex-basis:80%;order:2;overflow:hidden;}
	#header .inner .top_nav_box .top_logo img {max-width:200px;max-height:30px;}
	#header .inner .top_nav_box .top_logo a {font-size:25px;white-space:nowrap;text-overflow:ellipsis;width:auto;overflow:hidden;text-align:center;}
	#header .inner .top_nav_box div[data-ez-module='menu-main/1'] {display:none;}
	#header .inner .top_nav_box .top_nav {display:flex;order:1;flex-basis:auto;position:static;}
	#header .inner .top_nav_box .top_nav .eNavFold {height:65px;}
	#header .inner .top_nav_box .top_mypage {display:flex;align-items:center;order:3;height:65px;flex-basis:auto;margin:0;position:static;}
	#header .inner .top_nav_box .top_mypage a {display:none;}
	#header .inner .top_nav_box .top_mypage a.eSearch {display:flex;height:100%;margin-right:-4px;}
	#header .inner .top_nav_box .top_mypage a.eSearch svg {width:28px;}
	#header.fixed {-webkist-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);}
	#header.fixed .inner .top_nav_box .top_logo {margin:0 auto;}

	/* 하단 */
	.footer_margin {margin-top:50px;}
	#footer {padding-bottom:80px;}
	#footer .inner {margin:0 auto;padding:40px 0 0 0;}
	#footer .inner .bt_logo {margin-bottom:40px;font-size:25px;flex-shrink:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;display:flex;}
	#footer .inner .bt_logo a {justify-content:flex-start;}
	#footer .inner .bt_logo img {max-width:200px;max-height:30px;}
	#footer .inner .bt_util {margin-bottom:0;}
	#footer .inner .bt_util ul {display:flex;justify-content:flex-start;flex-wrap:wrap;}
	#footer .inner .bt_util ul li {margin:0 10px 10px 0;padding:0;background:none}
	#footer .inner .bt_util ul li:first-child {margin:0 10px 10px 0;}
	#footer .inner .bt_util ul li a {font-size:13px;font-weight:300;}
	#footer .inner .bt_wrap {display:flex;flex-direction:column;justify-content:flex-start;margin-bottom:0;}
	#footer .inner .bt_cscenter {order:2;margin:40px 0 0 0;}
	#footer .inner .bt_cscenter .title {margin-bottom:10px;font-size:16px;}
	#footer .inner .bt_cscenter .bt_txt01 {font-size:13px;line-height:1.6;}
	#footer .inner .bt_cscenter .bt_txt02 {font-size:13px;line-height:1.6;}
	#footer .inner .bt_bank {order:3;margin:30px 0 0 0;}
	#footer .inner .bt_bank .title {margin-bottom:10px;font-size:16px;}
	#footer .inner .bt_bank .bt_txt02 {font-size:13px;line-height:1.6;}
	#footer .inner .bt_info {order:1;margin:40px 0 0 0;}
	#footer .inner .bt_info .title {margin-bottom:10px;font-size:16px;}
	#footer .inner .bt_info .bt_info_list {line-height:1.8;font-size:13px;word-break:keep-all;}
	#footer .inner .bt_escrow {margin-top:40px;margin-bottom:0;}
	#footer .inner .bt_escrow a span {font-size:11px;width:auto;}
	#footer .inner .bt_escrow a img {height:30px;}
	#footer .inner .bt_wrap2 {padding-top:40px;margin-top:40px;flex-direction:column-reverse;justify-content:flex-start;word-break:keep-all;border-top:1px solid #ebebeb;}
	#footer .inner .bt_wrap2 .bt_copyright {font-size:13px;}
	#footer .inner .bt_wrap2 .bt_sns {margin-bottom:30px;}
	#footer .inner .bt_wrap2 .bt_sns a {margin-left:10px;font-size:0;display:block;padding:0 6px;}
	#footer .inner .bt_wrap2 .bt_sns a:first-child {margin-left:-10px;}
	#footer .inner .bt_wrap2 .bt_sns a svg {height:20px;}

	/* 상품 더보기 */
	.main_image_text_gallery_more .main_image_text_gallery_more_btn,
	.more .btnMore {background-color:#fff;display:inline-block;min-width:auto;padding:13px 40px;border:1px solid #dadada;text-align:center;transition:all 400ms;font-size:16px;color:#1a1a1a;}

	/* 상단검색 레이어 */
    .xans-layout-searchheader {height:260px;}
    .xans-layout-searchheader .title { margin:50px 0 29px; display:block; font-size:30px; text-align:center; }
    .xans-layout-searchheader fieldset { display:flex; margin:0 16px; border-bottom:1px solid #000;width:auto;}
	.xans-layout-searchheader fieldset .btnDelete {display:block;}
    .xans-layout-searchheader #keyword  { width:100%; height:58px; padding:19px 0; flex:1; font-size:15px; box-sizing:border-box; border:0; background:#fff; }
    .xans-layout-searchheader .btnSearch { width:25px; height:25px; margin:17px 0 0; }
	.xans-layout-searchheader .btnSearch .icon { width:25px; height:25px; }
    .xans-layout-searchheader .btnClose { top:12px; right:12px; }
    .xans-layout-searchheader .icon.icoClose { width:25px; height:25px;}
    .xans-layout-searchheader .icon.icoClose:before { right: 12px; height:25px; }
    .xans-layout-searchheader .icon.icoClose:after { top: 12px; width:25px; }
	.xans-layout-searchheader .xans-search-hotkeyword {width:92%;margin:0 auto;overflow:hidden;overflow-x:auto;}
	.xans-layout-searchheader .hot_keyword {margin:20px auto 0;justify-content:flex-start;}
	.xans-layout-searchheader .hot_keyword li {margin:0 7px 0 0;}
	.xans-layout-searchheader .hot_keyword li a {font-size:12px;padding:13px 15px 12px 15px;}
}

/********************* Mobile *********************/
@media all and (max-width:767px) {
    /* responsive class */
    .RTB { display:none !important; }
    .RMB { display:block !important; }
    .RMI { display:inline-block !important; }
	.display_mobile_only {display:block !important;}
	.display_pc_only {display:none !important;}

	/* 상품 더보기 */
	.main_image_text_gallery_more .main_image_text_gallery_more_btn,
	.more .btnMore {padding:13px 35px;font-size:13px;}
	.more .btnMore > div {font-size:12px;}
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    /* responsive class */
    .RMB { display:none !important; }
    .RMI { display:none !important; }
    .RTB { display:block !important; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    /* responsive class */
    .RMB { display:none !important; }
    .RMI { display:none !important; }
    .RTB { display:none !important; }
    .RTMI { display:none !important; }
    .RTMB { display:none !important; }
}

/********************* PC *********************/
@media all and (max-width:1553px) {
	#quick { display:none; }
}

.dimmed { display:none; z-index:1000; position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; background:rgba(0,0,0,0.3); }
#modalBackpanel { display:none; position:absolute; top:0; left:0; z-index:10000; width:100%; height:100%; background:#000; }
#modalContainer { display:none; position:absolute; top:100px; left:100px; z-index:10001; width:975px; height:720px; border:1px solid #333; background:#fff; }
#modalContainer #modalContent { width:100%; height:100%; }