/** subpage_theme01 (button_color - black) **/

/* 공통 타이틀 */
.titleArea h2 {font-weight:700;font-size:30px;color:#1a1a1a;}
.titleArea h3 {font-weight:500;}
.titleArea .desc {font-weight:400;}
.xans-project-package .title {margin:45px 0 0;}
.xans-project-package .title h2 {font-weight:700;font-size:30px;color:#1a1a1a;}

/* checkbox */
input[type="checkbox"] {width:24px; height:24px; border:1px solid #d9d9d9;background:url('/SkinImg/img/checkbox_off.svg') no-repeat center;transition:none;}
input[type="checkbox"]:checked {background:url('/SkinImg/img/checkbox_on.svg') no-repeat center;transition:none;border:1px solid #d9d9d9;}

/* ie support */
input[type="checkbox"]::-ms-check {border:1px solid #d9d9d9;background:url('/SkinImg/img/checkbox_off.svg') no-repeat center;transition:none;}
input[type="checkbox"]:checked::-ms-check {background:url('/SkinImg/img/checkbox_on.svg') no-repeat center;transition:none;border:1px solid #d9d9d9;}

/* ec-base-step */
.ec-base-step li {color:#8a8a8a;}
.ec-base-step .selected {color:#1a1a1a;}

/* button */
[class^='btnNormal'], a[class^='btnNormal'] {border:1px solid #D6D6D6;}
[class^='btnSubmit'], a[class^='btnSubmit'] {background:#1a1a1a;color:#fff;}

/* Table */
.ec-base-table {border-top:2px solid #1a1a1a;}
.ec-base-table th {font-weight:400;}
.ec-base-paginate.typeList li a {font-size:14px;}

/* tab */
.ec-base-tab.typeNav .menu {border-bottom:1px solid #1a1a1a;}
.ec-base-tab.typeNav .menu li a {background:#fff;border:0;color:#8a8a8a;min-width:170px;}
.ec-base-tab.typeNav .menu li.selected a {border:1px solid #1a1a1a;font-weight:400;}
.ec-base-tab.typeNav .menu li.selected a:after {bottom:-2px;height:2px;}

/* 테마스타일 */
.sub_theme_pop {position:fixed;top:40%;right:20px;}
.sub_theme_pop ul li {cursor:pointer;color:#999;text-align:right;}
.sub_theme_pop ul li:hover {cursor:pointer;color:#111;}

/* 레이아웃스타일 */
.layout_theme_pop {position:fixed;top:55%;right:20px;z-index: 10;}
.layout_theme_pop ul li {cursor:pointer;color:#999;text-align:right;}
.layout_theme_pop ul li:hover {cursor:pointer;color:#111;}
.layout_theme_pop2 {position:fixed;top:67%;right:20px;z-index: 10;}
.layout_theme_pop2 ul li {cursor:pointer;color:#999;text-align:right;}
.layout_theme_pop2 ul li:hover {cursor:pointer;color:#111;}

/* 목록 레이아웃스타일 */
.sub_grid_pop {position:fixed;top:70%;right:20px;}
.sub_grid_pop ul li {cursor:pointer;color:#999;text-align:right;}
.sub_grid_pop ul li:hover {cursor:pointer;color:#111;}

@media screen and (max-width:1024px) {
	/* 공통 타이틀 */
	.titleArea {margin:0;padding:20px 0;}
	.titleArea h2 {font-size:16px;}
	.xans-project-package .title {margin:20px -4% 0;padding-bottom:20px;border-bottom:1px solid #e8e8e8;}
	.xans-project-package .title h2 {font-size:16px;margin:0;}

	/* 모바일 뒤로가기 아이콘 */
	.xans-layout-mobileaction {top:21px;left:4%;z-index:20;}

	/* Table */
	.ec-base-table.typeList tr {padding:20px 0 19px;}
	.xans-board-search,
	.xans-myshop-boardlistsearch {margin:10px 0 0px -10px;}
	.xans-board-listpackage .ec-base-button.gBottom {margin:20px 0 0;}

	/* tab */
	.ec-base-tab.typeNav .menu li a {min-width:auto;}
}
